.vscode
.mixin.out
/backups
/config/jei/world
/config/xaero*
/coremods
/crash-reports
/data
/ESM
/local
/logs
/map_atlases
/mod_data
/modernfix
/mods
/options.txt
/options.txt.bak
/patchouli_data.json
/resourcepacks
/rhino.local.properties
/saves
/screenshots
/seamless.txt
/server-resource-packs
/shaderpacks
/texturepacks
/TrashSlotSaveState.json
/usercache.json
/usernamecache.json
/Xaero*