.mixin.out
.vscode
.DS_Store
/backups
/config/jei/world
/config/spark/activity.json
/config/xaerominimap_entities.json
/config/xaerominimap-common.txt
/config/xaeropatreon.txt
/config/xaeroworldmap-common.txt
/config/xaeroworldmap.txt
/config/ae2/client.json
/coremods
/crash-reports
/data
/ESM
/local
/logs
/map_atlases
/mod_data
/modernfix
/mods/.index
/options.txt
/options.txt.bak
/patchouli_data.json
/prettypipesprefs
/rhino.local.properties
/saves
/screenshots
/seamless.txt
/server-resource-packs
/shaderpacks
/texturepacks
/TrashSlotSaveState.json
/usercache.json
/usernamecache.json
/Xaero*