.vscode
coremods
crash-reports
data
ESM
local
logs
mod_data
modernfix
mods
options.txt
patchouli_data.json
resourcepacks
rhino.local.properties
saves
screenshots
seamless.txt
server-resource-packs
shaderpacks
texturepacks
TrashSlotSaveState.json
usercache.json
usernamecache.json
Xaero*